.regulations {
    margin: 10px;
}

.singup {
    text-align: center;
}

.regulations a {
    color: black;
    text-decoration: black;
}

.return {
    border: 2px solid white;
    padding: 6px 12px;
    border-radius: 15px;
}


.row-singup {
    margin-left: 150px;
}

/* okno z regulaminem */

.reg-wrap {
    display: none;
}

.reg-wrap.active {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.reg-head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
    background-color: #468966a1;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
}

.reg-top {
    flex-basis: 18%;
    background-color: #468966;
    text-align: center;
}

.reg-top h4 {
    color: white;
    margin-top: 10px;
    font-size: 40px;
}

.reg-text {
    margin: 15px;
}

.exit i {
    position: absolute;
    font-size: 30px;
    top: -8px;
    right: -5px;
}

.bear {
    position: relative;
    bottom: -100px;
    left: 30px;

}


.character img {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 10%;
    animation: move 6s infinite;
}

.cloud img {
    position: absolute;
    bottom: 140px;
    left: 70px;
    width: 25%;
    animation: move2 6s infinite;
}

.cloud p {
    font-size: 24px;
    font-family: arial, sans-serif;
    position: absolute;
    bottom: 200px;
    left: 120px;
    width: 220px;
    text-align: center;
    animation: move2 6s infinite;
}

@keyframes move {
    0% {
        transform: rotate(-20deg);
    }

    40% {
        transform: rotate(30deg);
    }

    60% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(-20deg);
    }
}

@keyframes move2 {
    0% {
        transform: rotate(5deg);
    }

    40% {
        transform: rotate(-5deg);
    }

    60% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

.e-message {
    padding: 20px;
}